{% extends "adminlogin/adbase.html" %}
{% load static %}
{% block title %}SareeSpire{% endblock  %}
{% block body %}



<div class="b pt-3 px-3">
    <a href="{%url 'admin_variation'%}"><button class="btn btn-outline-light btn-lg px-5" >Back</button></a></div>
<div class="container ">
    <div class="row justify-content-center mt-5">
        <div class="usercreat border border-radius-3 card col-5 p-4 text-white">
            <h2 class="text-center text-dark">Add Variations</h2>

            {% if messages %}
            {% for message in messages %}
            <div class="text-center text-danger pt-3">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {%endif%}

            <form action="{% url 'add_variation' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="product" class="form-label text-dark">Product :</label>
                    <select name="product" id="" class="form-control">
                        <option value="" selected disabled>Select an option</option>
                        {% for prd in prd  %}
                            <option value="{{ prd.id }}">{{ prd.product_name }}</option>
                        {% endfor %}    
                    </select>
                </div>
                <div class="mb-2">
                    <label for="" class="form-label text-dark">Description : </label>
                    <input type="text" name="description" id="" class="form-control bg-transparent text-dark">
                </div>
                <div class="mb-2">
                    <label for="" class="form-label text-dark">Image : </label>
                    <input type="file" accept="image/png, image/jpeg, image/jpg " name="image" id="" class="form-control bg-transparent text-dark">
                </div>
                <div class="mb-2">
                    <label for="" class="form-label text-dark">Color : </label>
                    <input type="text" name="color" id="" class="form-control bg-transparent text-dark">
                </div>
                <div class="mb-2">
                    <label for="" class="form-label text-dark">Quantity : </label>
                    <input type="number" name="quantity" id="" class="form-control bg-transparent text-dark">
                </div>
                <div class="d-grid">
                    <button class="btn btn-success btn-lg"  type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 