{% extends "adminlogin/adbase.html" %}
{% load static %}
{% block title %}SareeSpire{% endblock  %}
{% block body %}



<main id="main" class="main">
<div class="card-body">

  {% if messages %}
  {% for message in messages %}
  <div class="text-center text-danger pt-3">
     <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {%endif%}
    
    <!-- Table with stripped rows -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in members%}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.first_name}}</td>
          <td>{{i.last_name}}</td>
          <td>{{i.username}}</td>
          <td>{{i.email}}</td>
          <td></td>
          {% if i.is_active %}
          <td>Active</td>
          {% else %}
          <td>Blocked</td>
          {% endif %}
          {% if i.is_active %}
          <td><a href="{% url 'block_user' i.id %}"><button class="btn btn-success">Block</button></a></td>
          {% else %}
          <td><a href="{% url 'block_user' i.id %}"><button class="btn btn-danger">Unblock</button></a></td>
          {% endif %}
        </tr>
        {% endfor %}
       
      </tbody>
    </table>
    <!-- End Table with stripped rows -->

  </div>

</main><!-- End #main -->

{% endblock %}  