{% extends "adminlogin/adbase.html" %}
{% load static %}
{% block title %}SareeSpire{% endblock  %}
{% block body %}

<div class="b">
    <a href="{%url 'adminoffer'%}"><button class="btn btn-outline-light btn-lg px-5 mt-3 mx-3 text-dark" >Back</button></a></div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="usercreat border border-radius-3 card col-5 p-5 text-white">
            <h2 class="text-center text-dark">Edit Offer</h2>
            
            {% if messages %}
            {% for message in messages %}
            <div class="text-center text-danger pt-3">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {%endif%}

            <form method='POST' enctype="multipart/form-data">
                {% csrf_token%}
                <div class="mb-3">
                    <div class="mb-2">
                        <label  class="form-label text-dark">Offer : </label>
                        <input type="text" name="offer" id="" class="form-control bg-transparent text-dark" value="{{offr.name}}" >
                    </div>
                    <div class="mb-2">
                        <label  class="form-label text-dark">Discount : </label>
                        <input type="number" name="discount" id="" class="form-control bg-transparent text-dark" value="{{offr.discount}}">
                    </div>
                    <div class="mb-2">
                        <label class="form-label text-dark">Start Date : </label>
                        <input type="date" name="start_date" id="" class="form-control bg-transparent text-dark" value="{{offr.start_date}}">
                    </div>
                    <div class="mb-2">
                        <label class="form-labe text-dark">End Date : </label>
                        <input type="date" name="end_date" id="" class="form-control bg-transparent text-dark" value="{{offr.end_date}}">
                    </div>    
                <div class="d-grid mt-2">
                    <button class="btn btn-success btn-lg" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %} 