{% extends "homepage/base.html" %}
{% block title %}SareeSpire{% endblock  %}
{% block body %}

<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0 col-lg-6 col-6 text-right  ">
                
                        <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'product' %}" class="nav-item nav-link">Shop</a>
                    
                    </div>
                        <div class="navbar-nav mr-auto py-0 col-lg-6 col-6 text-right d-flex justify-content-end  ">
                        <a href="" class="nav-item nav-link">Contact</a>
                        
                        {% if user.is_authenticated %}
                            <a href="{% url 'signout' %}" class="nav-item nav-link">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                        {% endif %}
                                                
                        <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                    
                    </div>
                </div>
            </nav>
            {% for i in ads %}
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 800px">
                        <img class="img-fluid" src="{{ i.image.url }}" alt="Image" style="height: 1000px">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 30px">
            <h3 class="font-weight-semi-bold text-primary mb-3 text-uppercase">Our Shop</h3>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- categories Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Categories</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <ul class="list_menu">
                                <li><a href="{%url 'product'%}" >All Products</a></li>
                                {% for category in links %}
                                <li><a href="{{ category.get_url }}" >{{ category.product_name }}</a></li>
                                {% endfor %}
                            </ul>    
                        </div>
                    </form>
                </div>
                <!-- categories End -->
                
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">

                    {% if messages %}
                    {% for message in messages %}
                    <div class="text-center text-danger pt-3">
                        <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {%endif%}

                    {% for i in products %}
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <a href="{{ i.get_url }}"><img class="img-fluid w-100" style="height:400px; width:100px;" src="{{i.image.url}}" alt=""></a>
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{i.product_name}}</h6>
                                    {% if i.offer %}
                                        <div class="justify-content-center">
                                            <h6><b style="color: blue;">Original Price</b></h6><h6 style="text-decoration: line-through;">₹{{i.price}}</h6></br>
                                            <h6><b style="color: rgb(35, 161, 41);">Offer Price</b></h6><h6>₹{{i.get_offer_price}}</h6>
                                        </div>
                                        {% else %}
                                        <div class="d-flex justify-content-center">
                                            <h6> ₹{{i.price}}</h6><h6 class="text-muted ml-2"></h6>
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="{{ i.get_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 pb-1">
                        <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-center mb-3">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock  %}