{% extends "adminlogin/adbase.html" %}
{% load static %}
{% block title %}SareeSpire{% endblock  %}
{% block body %}





<main id="main" class="main">
  <div class="card-body">
    
    {% if messages %}
    {% for message in messages %}
    <div class="text-center text-danger pt-3">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {%endif%}    

    <!-- Table with stripped rows -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Customer</th>
          <th scope="col">Price</th>
          <th scope="col">Time Of Order</th>
          <th scope="col">Mode Of Pay</th>
          <th scope="col">Products Details</th> 
        </tr>
      </thead>

      <tbody class="align-middle">
        {% for item in orders %}
        <tr>
            <td class="align-middle">{{ item.id}}</td>
            <td class="align-middle">{{ item.customer }}</td>
            <td class="align-middle">{{ item.total_amount }}</td>
            <td class="align-middle">{{ item.order_date }}</td>
            <td class="align-middle">{{ item.mode_of_payment}}</td>
            <td class="align-middle"><a href="{% url 'adminsingleorder' item.id %}">View Detals</a></td>
        </tr>
        {% endfor %} 
      </tbody>
      
    </table>
    <!-- End Table with stripped rows -->

  </div>


</main><!-- End #main -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}  